* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}

.App {
  width: 600rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle at calc(var(--mouse-x) * 100%) calc(var(--mouse-y, 0.5) * 100%), transparent 0, rgb(41, 32, 131) 50px), url('/img/fondo3.png'); 
  background-size: contain;
  // background-repeat: no-repeat;

}
